.header {
    background-image: url("../images/spacex-launches-small.jpeg");
}

.si-calendarDays,
.si-calendarCore {
    width: 350px;
    height: 300px;
    margin: auto;
    display: flex;
    flex-wrap: wrap;
    align-content: flex-start;
}
.si-calendarDays {
    height: 25px;
}
.si-calendarDays > div {
    width: 50px;
    display: flex;
    justify-content: center;
}

.si-calendarCore > .si-calendarCell {
    width: 48px;
    height: 48px;
    background-color: grey;
    border: 1px solid;
    display: flex;
    justify-content: flex-end;
    align-items: flex-end;
    margin: 1px;
    padding: 5px;
    font-weight: bolder;
    color: white;
    opacity: 0.5;
    font-size: small;
    cursor: pointer;
}
.si-calendarCore > .si-calendarCell.si-transparent {
    opacity: 0;
}
.si-calendarCore > .si-calendarCell.si-selected {
    opacity: 1;
    font-size: larger;
}

.si-calendarTitle {
    padding: 0 0 0 20px;
    color: grey;
}