.header {
    background-image: url("../images/spacex-home-small.jpeg");
}

.si-companyInfo {
    margin: 0 0 20px 0;
}

.si-section {
    padding: 5px;
    margin: 0 40px 0 0;
}

@media only screen and (max-width: 700px) {
    .si-section.si-forceSmall {
        max-width: 100%;
    }
    .si-sections {
        flex-direction: column;
    }
}

@media only screen and (min-width: 700px) {
    .si-section.si-forceSmall {
        max-width: 40%;
    }
    .si-sections {
        flex-direction: row;
    }
}

.si-sections.si-container {
    display: flex;
}

.si-infoTableCell {
    width: 240px;
    font-variant: small-caps;
    /* font-weight: bolder; */
    display: flex;
    justify-content: space-between;
}

#companyMap {
    height: 250px;
}