body {
    max-width: 960px;
    margin: auto;
    overflow-y: scroll;
}

.header {
    height: 280px;
    background-position: center;
    font-size: 40px;
    font-weight: bolder;
    display: flex;
    align-items: center;
    padding: 0 0 0 30px;
    color: white;
}

.menu {
    padding: 10px 0 10px 0;
}

.pageContent.withTiles {
    display: flex;
    flex-wrap: wrap;
}

.pageContent.withTiles > .contentTile {
    margin: 10px;
}

/* .contentTile {
    padding: 20px;
    height: 150px;
    background-color: lightsalmon;
    width: 200px;
    margin: 10px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-around;
    cursor: pointer;
} */

.popup {
    display: none;
    position: fixed;
    background-color: lightgray;
}

@media only screen and (max-width: 550px) {
    .popup {
        left: 0;
        right: 0;
        top: 0;
        bottom: 0;
        transform: none;
    }
}

@media only screen and (min-width: 550px) {
    .popup {
        left: 50%;
        top: 50%;
        transform: translate(-50%, -50%);
        width: 500px;
        height: 400px;
    }
}

@media only screen and (min-width: 900px) {
    .popup {
        left: 50%;
        top: 50%;
        transform: translate(-50%, -50%);
        width: 650px;
        height: 400px;
    }
}
