h1 {
    color: blue;
}

p.menuContainer {
    color: green;
}

p.menuContainer {
    color: red;
    background-color: beige;
}

.menuContainer {
    border: solid;
    color: grey;
}

.parentTestDiv div {
    background-color: blue;
}

.parentTestDiv > div {
    background-color: black;
}
